# Salin file ini menjadi .env sebelum menjalankan docker compose
# cp .env.docker.example .env

# Database PostgreSQL
DB_CONNECTION=pgsql
DB_HOST=db_postgres
DB_PORT=5432
DB_DATABASE=absensi_enterprise
DB_USERNAME=admin
DB_PASSWORD=secretpassword

# Redis Cache
REDIS_HOST=redis_cache
REDIS_PORT=6379

# FastAPI AI Service
FASTAPI_URL=http://ai_fastapi:8001

# Laravel App
APP_KEY=
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost:8000